@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #222831;
  overflow: hidden;
}
::selection {
  background: rgba(26, 188, 156, 0.3);
}
.container {
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper {
  width: 100%;
  background: #393e46;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  height: 90px;
  background: #393e46;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form {
  padding: 5px 25px 25px 25px;
}
.wrapper form .row {
  height: 45px;
  margin-bottom: 25px;
  position: relative;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus {
  border-color: #00adb5;
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}
form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #00adb5;
  border: 1px solid #00adb5;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass {
  margin: -8px 0 20px 0;
}
.wrapper form .pass a {
  color: #00adb5;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #00adb5;
  border: 1px solid #00adb5;
  cursor: pointer;
}
form .button input:hover {
  background: #009199;
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: white;
}
.wrapper form .signup-link a {
  color: #00adb5;
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}

.dropdown {
  width: fit-content;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #2a2f3b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.select-clicked {
  border: 2px #00adb5 solid;
  box-shadow: 0 0 0.8em #00adb5;
}

.select:hover {
  background: #323741;
}

.caret {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  position: absolute;
  top: 70px;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5em;
  cursor: pointer;
}

.active {
  background: #23242a;
}

.menu-open {
  display: block;
  opacity: 1;
}
