* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #222831;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
  height: 80px;
  box-shadow: 0px 1px 2px black;
  z-index: 1;
}

.container .container button {
  background-color: #222831;
  color: white;
  border: none;
  font-size: 20px;
}

.dropbtn {
  background-color: #222831;
  color: white;
  padding: 0px;
  font-size: 20px;
  border: none;
  transition: 0.2s ease-in-out;
}

.dropbtn:hover {
  color: #00f2ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222831;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #303844;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page {
  width: 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.page p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  list-style: none;
}

.page h2 {
  margin-top: 10px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.logo:hover {
  color: #00f2ff;
}

.logo i {
  font-size: 40px;
  padding-right: 10px;
  transition: 0.2s ease-in-out;
}

.logo h2 {
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.container ul {
  display: flex;
  list-style: none;
  padding: 20px;
  gap: 20px;
}
.container ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
.container ul li a:hover {
  color: #00f2ff;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
}

.title img {
  width: 100%;
  border-radius: 10px;
}

.title h2 {
  font-weight: 600;
  font-size: 40px;
  color: #374151;
}

.title h3 {
  color: #6b7280;
  margin-bottom: 20px;
}

.title p {
  color: #374151;
}

.key h2 {
  font-weight: 600;
  color: #374151;
  margin-top: 50px;
}

.key li {
  color: #374151;
  margin-top: 25px;
}

.key p {
  color: #374151;
  margin-bottom: 50px;
}

.footer {
  background-color: #222831;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  color: white;
  font-size: 20px;
}

@media (max-width: 780px) {
  .contents {
    width: 650px;
  }
  .title h2 {
    font-size: 35px;
  }
  .title h3 {
    font-size: 15px;
  }
  .title img {
    width: 650px;
  }

  .title p {
    font-size: 15px;
  }

  .key h2 {
    font-size: 20px;
  }
  .key li {
    font-size: 15px;
  }
}
@media (max-width: 675px) {
  .contents {
    width: 550px;
  }
  .title h2 {
    font-size: 35px;
  }
  .title h3 {
    font-size: 15px;
  }
  .title img {
    width: 550px;
  }

  .title p {
    font-size: 15px;
  }

  .key h2 {
    font-size: 20px;
  }
  .key li {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .contents {
    width: 450px;
  }
  .title h2 {
    font-size: 30px;
  }
  .title h3 {
    font-size: 15px;
  }
  .title img {
    width: 450px;
  }

  .title p {
    font-size: 15px;
  }

  .key h2 {
    font-size: 20px;
  }
  .key li {
    font-size: 15px;
  }
}

@media (max-width: 510px) {
  .logo i {
    font-size: 30px;
    padding-right: 10px;
  }

  .logo h2 {
    font-weight: 700;
    font-size: 20px;
  }

  .container ul li a {
    font-size: 17px;
  }

  .dropdown .dropbtn {
    font-size: 17px;
  }

  .footer h2 {
    font-size: 15px;
  }
  .contents {
    width: 380px;
  }
  .title h2 {
    font-size: 30px;
  }
  .title h3 {
    font-size: 15px;
  }
  .title img {
    width: 380px;
  }

  .title p {
    font-size: 15px;
  }

  .key h2 {
    font-size: 20px;
  }
  .key li {
    font-size: 15px;
  }
}
@media (max-width: 440px) {
  .container ul {
    padding: 10px;
  }
  .logo {
    margin: 10px;
  }
}
